@font-face {
    font-family: "超極細ゴシック";
    src: url(chogokubosogothic_5.ttf) format("truetype");
}

body {
    overflow: hidden;
    background-color: black;
}

#finish-kstPic {
    display: none;
}

#finish-drpPic{
    display: none;
}

#finish1d {
    padding-top: 30px;
}

#next-button {
    cursor: pointer;
    text-align: center;
    font-size: 50px;
}

.pic {
    text-align: center;
}

.mystery {
    width: 55%;
    padding-top: 10%;
    padding-right: 1%;
}

.arrow {
    display: flex;
    margin: auto;
    width: 15%;
    padding-top: 2%;
}

.text {
    text-align: center;
}

#answer {
    margin-top: 2%;
    max-width: 65%;
    background-color: black;
    padding: 35px;
    width: 75%;
    border: 0;
    outline: none;
    border-bottom: white 1px solid;
    font-size: 100%;
    color: white;
    letter-spacing: 6px;
    
}

.right-arrow {
    width: 5vh;
    vertical-align: middle;
}

#check_button {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 55px;
    border: 0;
    color: white;
    cursor: pointer;
    font-family: "超極細ゴシック";
}

.d-none {
    display: none;
}

#message {
    text-align: center;
    color: rgb(255, 110, 110);
}

#next-button {
    font-family: "超極細ゴシック";
    color: white;
}