* {
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    background-color: black;
    position: relative;
}

.missileImg {
    position: relative;
}

.missileImg img {
    width: 100%;
    margin-top: 150px;
}

#missileButton {
    color: white;
    cursor: pointer;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: center;
}

.missileButtons {
    padding: 0 50px;
}

#ex-gif { 
    position: absolute;
    left: 0;
    width: 10%;
    top: 35%;
    left: 49%;
}

#pic{
    width: 100%;
}

#clearPic{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    margin-top: 220px;
    margin-left: 20px;
    position: relative;
}

#clearMessage {
    color: white;
    font-family: "超極細ゴシック";
    position: absolute;
    bottom: 200px;
    left: 40%;
}

#glassBreak{
    position: absolute;
    left: 0px;
    top: 80px;
    width: 100%;
}

.d-none {
    display: none;
}