* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    overflow: hidden;
}

.missileImg {
    position: relative;
}

.missileImg img {
    width: 100%;
    margin-top: 150px;
}

#missileButton {
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: center;
}

.missileButtons {
    padding: 0 50px;
}

#ex-gif { 
    position: absolute;
    left: 0;
    width: 10%;
    top: 35%;
    left: 49%;
}

#yesPic{
    width: 100%;
}

#yesPic img{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    margin-top: 220px;
    margin-left: 10px;
}

.d-none {
    display: none;
}